---
layout: allblogs
title: Recent Blogs
max_blogs: 15
type: blogs
---
<a href='/blogs/all/index.html' class='more'>View all Blogs...</a>
{% for post in site.categories.blogs limit:page.max_blogs %}
  <article>
    <a class='portrait-link' href="/blogs/{{ post.categories[1]}}"><img class='blog-img' src="{{ post.categories[1] | user_image }}"/></a>
    <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
  </article>
{% endfor %}
<a href='/blogs/all/index.html' class='more'>View all Blogs...</a>

