---
layout: allblogs
title: Recent Blogs
max_blogs: 10
---
<a href='/blogs/all/index.html' class='more'>View all Blogs...</a>
<h1 class='no-articles hidden'>No Blogs Found</h1>
{% for post in site.categories.blogs limit:page.max_blogs %}
<article>
  <a href="/blogs/{{ post.categories[1]}}"><img class='blog-img' src="/assets/images/users/{{ post.categories[1] }}.png"/></a>
  <div class="blog-info">{% include post-list-item-with-tags.html %}</div>
</article>
{% endfor %}
<a href='/blogs/all/index.html' class='more'>View all Blogs...</a>

